.formulario {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.formulario form {
  max-width: 80%;
  background-color: #222222;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  color: #FFF;
}

.formulario input {
  background-color: #222222;
  border: 1px solid #979797;
  border-radius: 10px;
  color: #FFF;
}

.formulario input::placeholder {
  color: #cacaca;
}

.formulario select {
  background-color: #222222;
  border: 1px solid #979797;
  border-radius: 10px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/public/imagens/seta-suspensa.png") 95.5% 50% no-repeat;
  border: 1px solid #333;
  font-size: 15px;
  padding-right: 20px;
  color: #cacaca;
  cursor: pointer;
}